
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Raleway:wght@100;500;600;900&display=swap");


:root {
  --darkgreen: rgb(1, 59, 44);
  --green: #1D7353;
  --lightgreen: #78BF97;
  --ice-gray: #F2F2F2;
}

body {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  background-color: var(--ice-gray);
}

nav {
  display: flex;
  background-color: var(--darkgreen);
  height: 10vh;
  justify-content: space-between;
  padding: 45px;
  color: var(--ice-gray);
  align-items: center;
  flex-wrap: wrap;
}

nav>div {
  display: flex;
  flex-direction: row;
}

nav p {
  font-size: 2.4rem;
  
}

.links {
  display: flex;
  width: 1200px;
  justify-content: space-around;
}

.links>a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--ice-gray);
  font-weight: 200;
  transition-duration: 0.7s;
}

.links>a:hover {
  font-weight: bold;
  transition-duration: 0.7s;
}

.logo {
  margin-right: 10px;
  font-weight: 100;
}

/* Inicio */

.title1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: -2cm;
  margin-top: -4cm;
  color:black;
}
.title1 > img{
  position: relative;
  top: 13px;
}

.section1Inicio {
  display: flex;
  height: 85vh;
  background-color: var(--ice-gray);
  align-items: center;
}

.section1Inicio>div {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0; 
}

.title {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 0.5cm;
  margin-top: -1cm;
  color:black;
}

.textPage1 {
  font-size: 12pt;
  font-weight: 200;
  margin-top: 3cm;
  margin-left: 3cm;
  margin-bottom: 2cm;
  margin-right: 2cm;
  text-indent: 1.25cm;
  line-height: 1.5;
}

/* Nutrientes */

.section1Nutrientes {
  display: grid;
  flex-direction: column;
  height: auto;
  background-color: var(--ice-gray);
}

.section1Nutrientes > .titleAndText {
  font-size: 12pt;
  font-weight: 200;
  margin-top: 3cm;
  margin-left: 3cm;
  margin-bottom: 2cm;
  margin-right: 2cm;
  text-indent: 1.25cm;
  line-height: 1.5;
}

.citacao-longa {
  margin-top: 1cm;
  margin-left: 4cm;
  margin-bottom: 1cm;
  margin-right: 4cm;
  font-size: 10pt;
  line-height: 1.5;
  text-indent: 0;
}

.lista-ul {
  list-style-type: square;
  margin-left: 2cm; 
  padding-left: 1cm;
  text-indent: 0;
}

.lista-ul li {
  margin-bottom: 0;
}

.video {
  margin-top: -300px;
  margin-left: 3cm;
  margin-bottom: 2cm;
  margin-right: 2cm;
  height: 85vh;
  background-color: var(--ice-gray);
  display: grid;
 
}


.title2 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 1cm;
  margin-top: 2cm;
  color:black;
}

.title3 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 1cm;
  margin-top: 2cm;
  color:black;
}
.referencia {
  margin-top: 1cm;
  margin-left: 4cm;
  margin-bottom: 1cm;
  margin-right: 4cm;
  text-indent: 0;
}


/*outras páginas*/

/* Caracteristicas */

/*.contentCaracteristicas {
  display: grid;
  grid-column: 2;
}

.contentCaracteristicas>h1 {
  display: grid;
  align-content: center;
}

.section1Caracteristicas {
  height: 85vh;
  background-color: var(--black);
}

.section1Caracteristicas>div>h2 {
  color: rgba(0, 0, 0, 0.39);
}

.section2Caracteristicas {
  display: flex;
  background-color: var(--orchid);
  height: 100vh;
  color: var(--black);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title2 {
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.499);
  letter-spacing: 8px;
}

.columnCaracteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

.section1Caracteristicas>div {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px;
}

.section2Caracteristicas>div {
  max-width: 1800px;
}

.section3Caracteristicas {
  background-color: var(--black);
  height: 100vh;
  display: grid;
  align-items: center;
  color: var(--ice-gray);
  grid-template-columns: 1fr 1fr;
  padding: 100px;
}

.section3Caracteristicas>img {
  grid-row: 1/2;
  max-width: 700px;
}

.section3Caracteristicas>.lista {
  display: block;
  grid-column: 2;
  grid-row: 2;
}

.lista {
  font-size: 2rem;
}

ul {
  padding: 0px 0px 0px 40px;
}

table,
th,
td,
tr {
  border: 1px solid rgb(245, 242, 242);
}

@media (max-width:1620px) {
  html {
    font-size: 55%;
  }

  nav {
    height: 10vh;
    padding: 45px;
  }

  nav p {
    font-size: 2.4rem;
  }

  .section2Inicio>div>img {
    width: 900px;
  }
}

@media (max-width:1580) {
  html {
    font-size: 50%;
  }

  nav {
    height: 10vh;
    padding: 45px;
  }

  nav p {
    font-size: 2rem;
  }

  .section2Inicio>div>img {
    width: 900px;
  }
}
